/*Sezione globale per impostare il font del testo nella pagina*/
* {
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
  }

body {
    margin:0px;
    padding:0px;
}

/*Creazione della griglia per contenere le tre auto in modo tale da posizionare gli elementi sulle righe e colonne*/
.grid-container {
    margin-top: 100px;
    display: grid;
}

/*Creazione della riga della griglia con uno spazio tra le celle (20px) con tre colonne della stessa grandezza */
.grid-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

/*Creazione della singola cella*/
div.vehicle {
    flex: 1;
    flex-direction: row;
    padding: 5px;
    margin-left:105px;
    margin-bottom: 60px;
    padding: 20px;
    text-align: center;
    border: 3px solid #17172a;
    box-shadow: 7px 7px 7px #888888;
}

/*Effetto di selezione quando il cursore del mouse passa sulla cella del veicolo*/
div.vehicle:hover {
    box-shadow: 15px 15px 15px #888888;
}

/*Posizionamento dell'immagine sulla sinistra della cella*/
img.vehicle {
    float: left;
    width: 50%;
    height: auto;
    margin: 0px auto; 
}

.vehicle h1{
    font-size: 30px;
    padding-right: 5px;
    text-decoration: underline;
    color:red;
    border:none;
}

.vehicle h2{
    padding-top: 20px;
    padding-bottom: 20px;
    clear: both;
}
/*Stile del pulsante del noleggio*/
#acquista{
    background-color:#17172a;
    color:white;
    font-size: large;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 10px;
}

#acquista:hover{
    background-color: #009dff;
}

